.movie-detail {
    &__title {
        background-color: var(--color-primary);
        margin: 0;
        padding: 1rem 0;
        text-align: center;    }

    &__content {
        display: grid;
        grid-gap: 30px;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    &__image {
        height: auto;
        max-width: 100%;
    }
}
