.movies-item {

    &__title {
        border-bottom: 1px solid var(--color-primary);
        padding-bottom: 0.75rem;
    }

    &__link {
        color: var(--color-base);
        display: inline-flex;
        padding-left: 1rem;
        position: relative;
        text-decoration: none;

        &:hover,
        &:focus {
            outline: 0 solid rgba(0, 0, 0, 0);

            &:before {
                background-color: var(--color-primary);
                content: '';
                display: inline-flex;
                font-size: 0.825rem;
                height: 1rem;
                left: 0;
                padding: 0.25rem 0.2rem 0.4rem;
                position: absolute;
                top: 50%;
                transform: translate(0, -50%);
                width: 0.25em;
            }
        }
    }
}
